.wrapper {
  display: block;
  background-position: -430px -41px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-image: url("../../assets/Hero Image.png");
  height: 100vh;
  width: 100%;
}
