@import "../../scss/settings/colors";

.whoworks--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.whoworks--header {
  align-self: center;
  margin-top: 2.2em;
}

.whoworks-holder {
  display: flex;
  justify-content: center;
  align-self: center;
}

.whoworks-btn {
  height: 90px;
}

.whoworks-text {
  margin: 10px 35% 10px 35%;
}

.gray--line {
  margin-top: 15px;
  display: block;
  background-color: $different-gray;
  height: 1px;
  width: 100%;
}

.whoWorks-ul:last-child {
  .gray--line {
    display: none;
  }
}

.ul--holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whoWorks--ul {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: column;
  transition: 3s;
}

.whoworks--name {
  font-size: 25px;
  font-weight: 300;
}

.whoworks--what {
  align-self: flex-end;
}

.pagination--section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 2px;
  align-items: center;
  justify-content: center;

  li {
    display: flex;
    color: $dark-gray;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 30px;
    border: 1px solid $different-gray;
    font-weight: 300;
    font-size: 16px;
    margin: 5px;
  }
  :focus {
    outline: none;
  }
  .next {
    display: none;
  }
  .previous {
    display: none;
  }
}

.pagination__link--active {
  font-weight: 700 !important;
}

// #whoWorks > section > ul.pagination > li:nth-child(2) {
//   background-color: red !important;
// }
